aula-td/produtos.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. 
	RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.catolicasc.org.br/produtos/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.catolicasc.org.br/produtos/"
	name="ProdutoServiceService">
	<types>
		<xs:schema xmlns:tns="http://www.catolicasc.org.br/produtos/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://www.catolicasc.org.br/produtos/">

			<!-- Define elemento de entrada -->		
			<xs:element name="listarProduto" type="tns:ProdutoRequest" />
			
			<!-- Define elemento de saída -->
			<xs:element name="produtos" type="tns:Produtos" />

			<!-- Cria tipo para objeto de entrada request -->
			<xs:complexType name="ProdutoRequest">
				<xs:sequence></xs:sequence>
			</xs:complexType>

			<!-- Cria tipo response -->
			<xs:complexType name="Produtos">
				<xs:sequence>
					<xs:element name="Produto" type="tns:Produto" minOccurs="0" maxOccurs="unbounded"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Produto">
				<xs:sequence>
					<xs:element name="descricao" type="xs:string" minOccurs="0" />
					<xs:element name="id" type="xs:long" minOccurs="0" />
					<xs:element name="precoVenda" type="xs:double" minOccurs="0" />
					<xs:element name="quantidade" type="xs:double" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	
	<!-- Definie tipos de entrada e saída -->
	<message name="produtosRequest">
		<part name="parameters" element="tns:listarProduto"></part>
	</message>
	<message name="produtosResponse">
		<part name="parameters" element="tns:produtos"></part>
	</message>
	
	<!--  define qual será a mensagem de entrada e de saída -->
	<portType name="ProdutoService">
		<operation name="listarProdutos">
			<input
				wsam:Action="http://www.catolicasc.org.br/produtos/ProdutoService/listarProdutosRequest"
				message="tns:produtosRequest"></input>
			<output
				wsam:Action="http://www.catolicasc.org.br/produtos/ProdutoService/listarProdutosResponse"
				message="tns:produtosResponse"></output>
		</operation>
	</portType>
	
	
	<binding name="ProdutoServicePortBinding" type="tns:ProdutoService">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document"></soap:binding>
		<operation name="listarProdutos">
			<soap:operation soapAction=""></soap:operation>
			<input>
				<soap:body use="literal"></soap:body>
			</input>
			<output>
				<soap:body use="literal"></soap:body>
			</output>
		</operation>
	</binding>
	
	<!--  Define serviço -->
	<service name="ProdutoServiceService">
		<port name="ProdutoServicePort" binding="tns:ProdutoServicePortBinding">
			<soap:address location="http://localhost:8080/produtos"></soap:address>
		</port>
	</service>
</definitions>